*{
    background-color: #ccc;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.napis{
    font-size: 350%;
    text-align: center;
}


#fnsqr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: max-content;
    display: flex;
    background-color: #fff5ff;
    color: black;
    font-size: 26px;
}


#oknofnsqr {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff5ff;
    color: #fff;
}